<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- set `maximum-scale` for some compatibility issues -->
    <!-- 强制显示方式 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <title>先之课程</title>
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
    <script type="text/javascript" src="https://f3-xz.veimg.cn/lms/v2/player/ckplayerX/ckplayer_v1.0.0.js"></script>
    <script src="https://hm.baidu.com/h.js?ceca9810dcfa55f78f0386f06a18f951"></script>
  </body>
</html>